<!DOCTYPE html>
<html>
	<head>
		{% include 'modules/head.html' %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/downloads.css') }}">
	</head>
	<body>
		{% include 'modules/header.html' %}
		<div class="table-container">
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>Title</th>
					</tr>
				</thead>
			{% for file in files %}
				{% set temp = ['/downloads', file.path] %}
				<tr>
					<td class="table-cell">
					{% if file.isdir %}
						<img src="{{ url_for('static',filename='images/folder-icon.png') }}" class="folder-icon"/>
						<a href="{{ temp | join }}">{{ file.name }}</a>
					{% else %}
						<div class="folder-icon"></div>
						<a href="#">{{ file.name }}</a>
					{% endif %}
						
					</td>
				</tr>
			{% endfor %}
			</table>	
		</div>
	</body>
</html>
