<!DOCTYPE html>
<html>
	<head>
		{% include 'modules/head.html' %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/downloads.css') }}">
	</head>
	<body>
		{% include 'modules/header.html' %}
		<div class="table-container">
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>Title</th>
					</tr>
				</thead>
			{% for file in files %}
				
				<tr>
					<td class="table-cell">
					{% if file.isdir %}
						{% set temp = ['/files/', file.rel_path] %}
						<img src="{{ url_for('static',filename='images/folder-icon.png') }}" class="folder-icon"/>
					{% else %}
						{% set temp = ['ftp://', ip, file.full_path] %}
						<div class="folder-icon"></div>
					{% endif %}
						<a href="{{ temp | join }}">{{ file.name }}</a>
					</td>
				</tr>
			{% endfor %}
			</table>	
		</div>
	</body>
</html>
