<!DOCTYPE html>
<html>
	<head>
		{% include 'modules/head.html' %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
	</head>
	<body>
		{% include 'modules/header.html' %}
		<div class="menu-container">
			<div class="menu">
				<a href="#" class="menu-item menu-item-title">
					Get Torrents<br>Now!
				</a>
				<form class="menu-item menu-item-form pure-form" method="get" action="/search">
					<input type="search" name="q" class="menu-item-searchbar" placeholder="Search torrents">
					<input type="submit" class="pure-button pure-button-primary menu-item-button">
				</form>				
			</div>	
		</div>
	</body>
</html>
