<!DOCTYPE html>
<html>
	<head>
		{% include 'modules/head.html' %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search.css') }}">
	</head>
	<body>
		{% include 'modules/header.html' %}
		<div class="table-container">
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>Title</th>
						<th>Size</th>
						<th>Seeders</th>
						<th>Leechers</th>
					</tr>
				</thead>
			{% for torrent in torrents %}
				<tr>
					<td class="table-cell"><a href="/add?m={{ torrent.magnet_link | urlencode }}">{{ torrent.title }}</a></td>
					<td class="table-cell-size">{{ torrent.size }}</td>
					<td class="table-cell-seed">{{ torrent.seeders }}</td>
					<td class="table-cell-leech">{{ torrent.leechers }}</td>
				</tr>
			{% endfor %}
			</table>	
		</div>
	</body>
</html>
