.header > a:visited, .header > a:link {
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}

.header-container {
	padding: 10px 5px 10px 10px;
	height: 50px;
	width: 100%;
	background-color: var(--main-color);
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 1.5em;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

.button-dashboard {
	height: 100%;
	font-size: 0.6em;
	font-weight: 400;
	margin: 0px 5px;
}

.header-searchbar-form {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 70%;
	font-size: 0.6em;
}

.search-field {
	width: 80%;
	margin: 0px 10px 0px 15px;
	color: black;
}

.search-button {
	font-weight: 400;
}